<div class="fluid-container mt-5">
	<div class="row content text-center bg-dark">
		<h1 class="mb-3 text-light"><i class="fas fa-handshake-slash"></i> {{user.username}}</h1>
		<h4 class="mb-3 text-light">Who sent you?</h4>
		<form action="/api/redeeminvite" method="get">
			<!--<input type="hidden" name="X-Plutonus-CSRF" value="{{csrf}}" />-->
			<div class="form-outline form-white">
				<input type="text" name="code" id="code" class="form-control bg-light text-dark" aria-describedby="codeDesc" />
			</div>
			<div id="codeDesc" class="form-text">
				All invite codes are single use.
			</div><br/>
			<button type="submit" class="btn btn-primary" href="/invite/redeem" role="button">Redeem</a>
		</form>
	</div>
</div>
