<div class="container-fluid mt-5">
	<div class="row content">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h1 class="heading"><i class="fas fa-fw fa-eye"></i> Privacy Policy</h1>
			<p class="text-muted"><i class="fas fa-fw fa-check"></i> Effective January 3, 2021</p>

			<p class="mt-5">
				This Privacy Policy has been created to allow you, the user / visitor, to
				better understand how the data we collect is used on our website.
			</p>

			<h3 class="mt-5">Information we Collect</h3>
			<p>
				We collect certain information to assist in the moderation of our site and
				it's content.
			</p>
			<p>
				The information we collect is:
				<ul>
					<li>
						Your IP address, to identify you,
					</li>
					<li>
						A history of pages and uploads you view,
					</li>
					<li>
						and... that's it!
					</li>
				</ul>
			</p>

			<h3 class="mt-5">When we Collect</h3>
			<p>
				We collect information when you register as a user on our website, when you
				return from an oAuth2 grant from Discord.
			</p>
			<p>
				We collect feedback / suggestions to help improve our site.
			</p>
			<p>
				Whenever you visit a page on our website, or when you view an upload, either
				from our website directly, or from a 3rd party (such as a hotlinked iamge
				on a forum).
			</p>

			<h3 class="mt-5">How Information is Utilised</h3>
			<p>
				The information is used solely to improve our service. It is <b>never</b>
				sold or given to third party providers:
				<ul>
					<li>
						If you register as a user on our website, we store your Discord
						username, Discord ID, your Discord avatar, a Discord oAuth2 access
						token, and a Discord oAuth2 refresh token. This is required by our
						account authorization system to identify you and keep you logged
						in to our website.
					</li>
					<li>
						When moderating our site, we may use your information to create
						links between data, such as uploads. This is only if a user has
						been caught violating our Terms of Service.
					</li>
				</ul>
			</p>

			<h3 class="mt-5">How Your Information is Protected</h3>
			<p>
				Nobody has access to your information other than authorised server and site
				administrators. None of your personal information, other than your Discord
				username, is displayed publicly on our site.
			</p>
			<p>
				We do occasional audits of our site and server security, as well as keeping
				software up to date as often as possible, to ensure any vulnerabilities
				have been patched.
			</p>

			<h3 class="mt-5">Cookies</h3>
			<p>
				We do not store any cookies on your browser.
			</p>
			<p>
				Our site may contain cookies for 3rd party services, such as CloudFlare.
				These are out of our control.
			</p>

			<h3 class="mt-5">Third Party Disclosure</h3>
			<p>
				We <b>do not</b> sell, trade, or otherwise transfer to outside parties <b>any</b>
				of your personally identifiable information.
			</p>

			<h3 class="mt-5">Advertisements</h3>
			<p>
				Although we have plans to serve advertisements in the future, we currently do not.
			</p>

			<h3 class="mt-5">Removal of Your Information</h3>
			<p>
				You may request to have any information stored about you on our servers permanently
				deleted. Please contact us requesting it.
			</p>

			<h3 class="mt-5">Notification of Updates</h3>
			<p>
				User privacy is our top priority. We will notify you at least 7 days before updates
				to our privacy policy on our Discord server.
			</p>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
