<div class="container-fluid mt-5">
	<div class="row content">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<h1 class="heading"><i class="fas fa-fw fa-book"></i> Terms of Service and Use</h1>
			<p class="text-muted"><i class="fas fa-fw fa-check"></i> Effective January 3, 2021</p>

			<div class="mt-5 alert alert-warning">
				<h3 class="subheading"><i class="fas fa-fw fa-handshake"></i> Your Consent</h3>
				<p>
					Using our service to do anything other than access the
					links to this "Terms of Service" page or accessing any
					page of our website other than our home page and this
					"Terms of Service" page constitutes your consent to
					these terms of service and use and to our
					<a href="/privacy"><i class="fas fa-fw fa-eye"></i> Privacy Policy</a>. If you do not
					consent, do not use our website.
				</p>
				<p>
					Your use of our website to do anything beyond simply
					accessing or viewing it (this is, uploading, downloading,
					commenting, etc.), constitutes not merely your consent,
					but also your electronic signature, meaning that you
					are contractually bound by these terms and by our
					<a href="/privacy"><i class="fas fa-fw fa-eye"></i> Privacy Policy</a>.
				</p>
			</div>

			<h3 class="mt-5">Service Guarantee</h3>
			<p>
				Our service is free to use and provided via dedicated servers
				that we rent for use. Our server provider delievers the nework,
				hardware, and power to allow our servers to reach the online
				world. However, there may be times where downtime can occur
				that is out of our control. Whilst we will keep in touch with
				our service provider in the event of a network, hardware, or
				power issue, we cannot guarantee a 100% uptime service.
			</p>
			<p>
				From time to time, we may also perform updates to our operating
				systems and website software, which may require a full system
				restart. This is not mentioned beforehand and can happen any
				time. In some cases, we may place the website into maintainence
				mode and provide a short reason for such maintainence.
			</p>
			<p>
				All uploads are stored on a redundant disk array which will
				protect all data in the event of a disk failure. We do run
				backups as often as possible, however we encourage users to
				create backups of their own in the event of a catastrophic
				failure where all or some data is lost.
			</p>

			<h3 class="mt-5">Acceptable Uploads</h3>
			<p>
				We have restrictions on file uploads to comply with laws and
				regulations.
			</p>
			<p>
				Under no circumstances, should you upload any content that:

				<ul>
					<li>
						Depicts child pornography / nudity, including illustrations
						(e.g anime),
					</li>
					<li>
						Depicts pornography / nudity of any kind,
					</li>
					<li>
						Depicts drugs and / or drug usage,
					</li>
					<li>
						Depicts gore / death,
					</li>
					<li>
						Depicts discriminative context (e.g racism, disability,
						sexual orientation, etc.),
					</li>
					<li>
						Depicts propaganda linked to threatening organisations,
						groups, cultures, etc. (e.g terrorism, fascist groups, etc.),
					</li>
					<li>
						Depicts copies of legitimate personal identity documents,
						such as passports, driving licenses, etc.,
					</li>
					<li>
						Contains copyrighted material which you do not own and
						do not have the permission to upload,
					</li>
					<li>
						Is intended for use with illegal activities, such as
						unsolicited e-mails (spam), torrent sites, etc.
					</li>
				</ul>
			</p>
			<p>
				Using our service for commercial use is permitted, but please take into
				consideration our hosting costs. A donation would be very appreciated.
			</p>
			<p>
				All uploads you submit remain the sole property of you. Uploads are not
				publicly shared on our website, and you are responsible for whoever views
				your uploads via links you share.
			</p>
			<p>
				If an upload is found to violate our Terms of Service, they will be
				removed without warning and local authorities will be notified if the
				offending material is serious. Information linked with such material
				will also be provided to authorities to assist them.
			</p>
			<p>
				If an account is banned, all uploads associated with that account will be
				permanently and irreversibly deleted. They will not be restored under any
				circumstance.
			</p>

			<h3 class="mt-5">Storage Limitations</h3>
			<p>
				As a free image host where its funding is relied on solely by donations, we
				are limited to what disk space we can afford. You should not upload content
				in masses that would consume unreasonable amounts of disk space
				unnecessarily. Any account found to be mass-uploading without approval will
				be banned without warning.
			</p>
			<p>
				There is no restriction on how much disk space you can use, but this
				restriction is in place to prevent disk space running out too quickly, and
				preventing others from using this service fairly.
			</p>

			<h3 class="mt-5">Moderation</h3>
			<p>
				We actively moderate all uploads that come onto our servers. This is to ensure
				no uploads are violating the Terms of Service. We have the power to delete
				offending uploads at our own discretion. Generally, offending content will be
				viewed and then deleted by the moderators and administrators of our website,
				and never shared with any 3rd parties.
			</p>
			<p>
				Under extremely rare circumstances where the content uploaded is a serious
				offense, the content and related account data may be shared with law
				enforcements, providing full copies of the content and logs related to the
				upload to assist with an investigation.
			</p>

			<h3 class="mt-5">Reporting Violating Uploads</h3>
			<p>
				Please submit your abuse reports to our <a href="/abuse"><i class="fas fa-fw fa-gavel"></i> Abuse / DMCA</a>
				page, and select the corresponding violation in the dropdown menu. Please
				include links to the upload(s) you are reporting, and your email address.
			</p>

			<p class="mt-5 text-muted">
				The Terms of Service may be updated at any time and without any prior notice.
				Please make sure to check this page regularly for updates.
			</p>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
