<!doctype html>

<html class="no-js" lang="en">
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<meta name="description" content="">
	<meta name="theme-color" content="#">

	<link rel="stylesheet" href="/assets/vendor/normalize/normalize.css">
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/vendor/mdb/css/mdb.min.css">

	<!--<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>-->
	<script src="/assets/vendor/mdb/js/mdb.min.js"></script>
	<script src="https://kit.fontawesome.com/8a74f44ba2.js" crossorigin="anonymous"></script>
</head>
<body class="bg-dark text-light min-vh-100">
	{{>navigation}}

	{{{body}}}

	<!-- Not Required Yet - <script src="/assets/vendor/modernizr/modernizr.min.js"></script> -->
	<script>
		window.ga = function () {
			ga.q.push(arguments)
		};
		ga.q = [];
		ga.l = +new Date;
		ga("create", "UA-XXXXX-Y", "auto");
		ga("set", "anonymizeIp", true);
		ga("set", "transport", "beacon");
			ga("send", "pageview");
	</script>
</body>
</html>
